/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .md\:scrollbar-default::-webkit-scrollbar {
    display: initial;
  }

  .md\:scrollbar-default {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }
}
